{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Item{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Title</label>
    <input name="title" id="title" value="{{ request.form['title'] }}" required>
    <label for="item_text">Item Text</label>
    <textarea name="item_text" id="item_text">{{ request.form['item_text'] }}</textarea>
    <input type="submit" class="btn btn-primary" value="Save">
  </form>
{% endblock %}

